:root {
  --color-primary-dark: #9d0000;
  --color-primary-light: #d94749;
}

html {
  scroll-behavior: smooth;
}

body {
  background: linear-gradient(107.72deg, #490000 -16.77%, #b13fa5 138.29%);
}

.section-hero::before {
  position: absolute;
  content: "";
  left: 0;
  top: 1%;
  height: 30%;
  width: 100%;
  z-index: -1;
  background: var(--color-primary-dark);
  clip-path: polygon(100% 0, 100% 100%, 50% 50%, 0 100%, 0 0);
}

@media (min-width: 768px) {
  .section-hero::before {
    height: 40%;
    right: 0;
    top: 0;
    height: 100%;
    width: 50%;
    z-index: -1;
    transform: rotateZ(180deg);
    transform-origin: right;
    clip-path: polygon(0 100%, 100% 0, 0 0);
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

/* form styles */

.form-input:focus ~ .form-label,
.form-input:not(:placeholder-shown).form-input:not(:focus) ~ .form-label {
  top: -0.7rem;
  left: 0.5rem;
  font-size: 0.8rem;
}

/* progress reset and styling */
progress {
  -webkit-appearance: none;
  -moz-appearance: none;
  overflow: hidden;
  background-color: #ccc;
}

progress::-webkit-progress-bar {
  background-color: #ff6e6e;
}

progress::-webkit-progress-value {
  background-color: #ff6e6e;
}

progress::-moz-progress-bar {
  background-color: #ff6e6e;
}

/* assignment navigation */

.assignment-navigation span:nth-child(1) {
  width: 3rem;
}
.assignment-navigation span:nth-child(2) {
  width: 5rem;
}
.assignment-navigation span:nth-child(3) {
  width: 6rem;
}

.animated-border,
.assignment-navigation span:nth-child(1).active ~ .animated-border {
  width: 3rem;
  left: 0;
}

.animated-border,
.assignment-navigation span:nth-child(2).active ~ .animated-border {
  width: 5rem;
  left: 3rem;
}

.animated-border,
.assignment-navigation span:nth-child(3).active ~ .animated-border {
  width: 6rem;
  left: 8rem;
}

/* details page hero section */
.details-hero {
  background-image: url("data:image/svg+xml,%3csvg xmlns='https://www.w3.org/2000/svg' version='1.1' xmlns:xlink='https://www.w3.org/1999/xlink' xmlns:svgjs='https://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1019%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='%230e2a47'%3e%3c/rect%3e%3cpath d='M0%2c503.997C99.617%2c489.579%2c198.699%2c492.538%2c291.53%2c453.63C398.874%2c408.64%2c534.943%2c371.915%2c575.465%2c262.806C616.272%2c152.929%2c525.124%2c40.602%2c485.952%2c-69.869C454.586%2c-158.327%2c433.767%2c-251.823%2c368.924%2c-319.675C305.765%2c-385.766%2c210.844%2c-399.927%2c129.911%2c-442.435C24.676%2c-497.707%2c-63.239%2c-637.096%2c-178.25%2c-607.064C-292.19%2c-577.312%2c-284.136%2c-402.014%2c-362.277%2c-313.915C-441.851%2c-224.199%2c-602.768%2c-206.72%2c-635.633%2c-91.39C-668.131%2c22.65%2c-567.578%2c128.85%2c-519.316%2c237.164C-470.551%2c346.605%2c-457.895%2c491.917%2c-351.326%2c546.674C-244.228%2c601.703%2c-119.166%2c521.245%2c0%2c503.997' fill='%230b2239'%3e%3c/path%3e%3cpath d='M1440 910.672C1519.675 913.317 1598.923 950.999 1673.934 924.008 1756.436 894.321 1845.77 840.55 1869.475 756.134 1893.289 671.329 1810.847 595.288 1790.2930000000001 509.635 1772.313 434.709 1798.7730000000001 350.156 1756.579 285.683 1712.475 218.29199999999997 1636.029 178.26 1558.698 155.753 1481.48 133.279 1400.29 139.5 1322.344 159.301 1242.143 179.675 1162.4859999999999 210.10899999999998 1106.1480000000001 270.716 1048.804 332.406 1020.0360000000001 414.527 1007.654 497.838 995.231 581.426 997.525 669.247 1035.713 744.6320000000001 1073.184 818.601 1139.137 877.302 1215.838 908.803 1286.388 937.778 1363.774 908.142 1440 910.672' fill='%23113255'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1019'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}

/* scrollbar */

* {
  scrollbar-width: auto;
  scrollbar-color: #ff9494 #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #ff9494;
  border-radius: 10px;
  border: 3px solid #ffffff;
}

.about-section {
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='https://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg fill-opacity='0.7'%3E%3Cpolygon fill='%23fffafa' points='1600 160 0 460 0 350 1600 50'/%3E%3Cpolygon fill='%23fff5f5' points='1600 260 0 560 0 450 1600 150'/%3E%3Cpolygon fill='%23ffeff1' points='1600 360 0 660 0 550 1600 250'/%3E%3Cpolygon fill='%23ffeaec' points='1600 460 0 760 0 650 1600 350'/%3E%3Cpolygon fill='%23FFE5E7' points='1600 800 0 800 0 750 1600 450'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
}
