/* BUTTON */
.btn {
	height: 3rem;
	width: 7rem;
}

@media (min-width: 500px) {
	.btn {
		width: 8rem;
	}
}

@media (min-width: 1024px) {
	.btn {
		width: 10rem;
	}
}

/* LINK */
.link::after {
	position: absolute;
	content: '';
	height: 2px;
	width: 100%;
	bottom: -0.3rem;
	left: 0;
	background-color: currentColor;
}

/* HERO SECTION */
.hero-section {
	height: 90vh;
	background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
		url('./assets/hero.jpg');
	background-size: cover;
}

@media (min-width: 250px) {
	.hero-section {
		height: 70vh;
	}
}

@media (min-width: 640px) {
	.hero-section {
		height: 55vh;
	}
}

@media (min-width: 768px) {
	.hero-section {
		height: 65vh;
	}
}

@media (min-width: 1124px) {
	.hero-section {
		height: 85vh;
	}
}

/* Carousal */
.carousal {
	position: absolute;
	bottom: -30%;
	left: 0;
	width: 100%;
}

@media (min-width: 640px) {
	.carousal {
		bottom: -35%;
	}
}

@media (min-width: 1024px) {
	.carousal {
		bottom: -25%;
	}
}

@media (min-width: 1140px) {
	.carousal {
		bottom: -25%;
	}
}

/* Section Step */
.heading-gradient {
	background-image: linear-gradient(
		to right,
		var(--color-primary-dark),
		var(--color-primary-light)
	);
	background-clip: text;
	-webkit-background-clip: text;
	-moz-background-clip: text;
	color: transparent;
}
